<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="~{_layout.html}">
<head>
    <title>检索结果</title>
    <style>
        table {
            caption-side: top
        }
        @media print {
            header, footer, aside, .navbar, .btn {
                display: none;
                visibility: hidden;
            }
            table {
                font-size: larger;
                page-break-inside: avoid;
            }
        }
    </style>
</head>

<body>
<th:block layout:fragment="content">
    <section class="wrapper bg-light">
        <div class="container py-14 py-md-10">
            <div class="row">
                <div class="col-lg-9 order-lg-2">
                    <div class="blog single" data-bs-spy="scroll" data-bs-target="#navbar-menu" data-bs-smooth-scroll="true" tabindex="0">
                        <div class="card">
                            <div class="card-body">
                                <div class="d-flex mb-6 justify-content-end">
                                    <a class="btn btn-sm btn-white" th:href="@{'/pdf?url=' + ${#request.getRequestURL()} }"><i class="uil uil-print"></i>&nbsp; 导出为PDF</a>
                                </div>
                                <div class="classic-view">
                                    <article class="post">
                                        <div class="post-content mb-5">
                                            <h4 class="h3 mb-10">松龄血脉康胶囊治疗更年期综合征患者73例临床分析</h4>
                                            <table class="table table-bordered table-sm fs-sm" id="document-basic">
                                                <caption><h6>基本信息</h6></caption>
                                                <colgroup>
                                                    <col width="200" class="bg-gray" />
                                                    <col />
                                                </colgroup>
                                                <tbody>
                                                    <tr>
                                                        <th>文献代码</th>
                                                        <td>Miyamoto,2007</td>
                                                    </tr>
                                                    <tr>
                                                        <th>中英文献引用</th>
                                                        <td>Miyamoto, Tadaaki，Baba, Masayuki，Sugane, Toshio，Nakajima, Mio，Yashiro, Tomoyasu，Kagei, Kennji，Hirasawa, Naoki，Sugawara, Toshiyuki，Yamamoto, Naoyoshi，Koto, Masashi，Ezawa, Hidefumi，Kadono, Kennoshuke，Tsujii, Hirohiko，Mizoe, Jun-etsu，Yoshikawa, Kyosan，Kandatsu, Susumu，Fujisawa, Takehiko Fujisawa. Carbon ion radiotherapy for stage I non-small cell lung cancer using a regimen of four fractions during 1 week.J. Journal of Thoracic Oncology, 2007, 2(10):916-926.
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <th>文献题目</th>
                                                        <td>Carbon Ion Radiotherapy for Stage I Non-small Cell Lung Cancer Using a Regimen of Four Fractions during 1 Week
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <th>第一作者</th>
                                                        <td>Miyamoto, Tadaaki</td>
                                                    </tr>
                                                    <tr>
                                                        <th>第一作者单位</th>
                                                        <td>Research Center Hospital for Charged Particle Therapy, National Institute of Radiological Sciences</td>
                                                    </tr>
                                                    <tr>
                                                        <th>发表年份</th>
                                                        <td>2007</td>
                                                    </tr>
                                                    <tr>
                                                        <th>发表期刊</th>
                                                        <td>Journal of thoracic oncology : official publication of the International Association for the Study of Lung Cancer</td>
                                                    </tr>
                                                    <tr>
                                                        <th>研究机构</th>
                                                        <td>National Institute of Radiological Sciences</td>
                                                    </tr>
                                                    <tr>
                                                        <th>国家</th>
                                                        <td>Japan</td>
                                                    </tr>
                                                    <tr>
                                                        <th>文献类型</th>
                                                        <td>单臂研究</td>
                                                    </tr>
                                                    <tr>
                                                        <th>临床研究期别</th>
                                                        <td>I</td>
                                                    </tr>
                                                    <tr>
                                                        <th>DOI号</th>
                                                        <td>10.1097/JTO.0b013e3181560a68</td>
                                                    </tr>
                                                    <tr>
                                                        <th>关键词</th>
                                                        <td>Heavy particles, Carbon ion beams, Four fractions, Non-small cell lung cancer, Stage I.重离子，碳离子束，4次分割，非小细胞肺癌，I期。</td>
                                                    </tr>
                                                    <tr>
                                                        <th>研究结论</th>
                                                        <td>
                                                            Carbon ion beam radiotherapy with a regimen of four fractions during 1 week has been proven as a valid alternative to surgery for stage I NSCLC and to offer particular benefits, especially for elderly and inoperable patients.1周内4次治疗方案的碳离子束放疗已被证明是I期NSCLC手术的有效替代方案，并提供特别的获益，尤其是对于老年和不能手术的患者。</td>
                                                    </tr>
                                                </tbody>
                                            </table>

                                            <table class="table table-bordered table-sm fs-sm" id="document-patients">
                                                <caption><h6>参与者</h6></caption>
                                                <colgroup>
                                                    <col width="200" class="bg-gray" />
                                                    <col />
                                                </colgroup>
                                                <tbody>
                                                    <tr>
                                                        <th>疾病名称</th>
                                                        <td>NSCLC非小细胞肺癌</td>
                                                    </tr>
                                                    <tr>
                                                        <th>病理类型</th>
                                                        <td>NSCLC非小细胞肺癌</td>
                                                    </tr>
                                                    <tr>
                                                        <th>疾病亚型</th>
                                                        <td>AD,SQ,L,Ad-Sq腺癌,鳞癌,大细胞,腺鳞癌</td>
                                                    </tr>
                                                    <tr>
                                                        <th>随访时间范围</th>
                                                        <td>2.5-72.2</td>
                                                    </tr>
                                                    <tr>
                                                        <th>随访时间(Mean±SD)</th>
                                                        <td>38.6median</td>
                                                    </tr>
                                                    <tr>
                                                        <th>PS评分</th>
                                                        <td>0-2</td>
                                                    </tr>
                                                    <tr>
                                                        <th>I期</th>
                                                        <td>79</td>
                                                    </tr>
                                                    <tr>
                                                        <th>II期</th>
                                                        <td></td>
                                                    </tr>
                                                    <tr>
                                                        <th>III期</th>
                                                        <td></td>
                                                    </tr>
                                                    <tr>
                                                        <th>IV期</th>
                                                        <td>总数</td>
                                                    </tr>
                                                </tbody>
                                            </table>

                                            <table class="table table-bordered table-sm fs-sm" id="document-group-1">
                                                <caption><h6>分组-1</h6></caption>
                                                <colgroup>
                                                    <col width="200" class="bg-gray" />
                                                    <col />
                                                </colgroup>
                                                <tbody>
                                                <tr>
                                                    <th>分组名称</th>
                                                    <td>1</td>
                                                </tr>
                                                <tr>
                                                    <th>男性患者</th>
                                                    <td>54</td>
                                                </tr>
                                                <tr>
                                                    <th>女性患者</th>
                                                    <td>25</td>
                                                </tr>
                                                <tr>
                                                    <th>患者总计</th>
                                                    <td>79</td>
                                                </tr>
                                                <tr>
                                                    <th>年龄范围</th>
                                                    <td>47-88</td>
                                                </tr>
                                                <tr>
                                                    <th>年龄(Mean±SD)</th>
                                                    <td>74.8</td>
                                                </tr>
                                                </tbody>
                                            </table>

                                            <table class="table table-bordered table-sm fs-sm" id="document-group-2">
                                                <caption><h6>分组-2</h6></caption>
                                                <colgroup>
                                                    <col width="200" class="bg-gray" />
                                                    <col />
                                                </colgroup>
                                                <tbody>
                                                <tr>
                                                    <th>分组名称</th>
                                                    <td>1</td>
                                                </tr>
                                                <tr>
                                                    <th>男性患者</th>
                                                    <td>54</td>
                                                </tr>
                                                <tr>
                                                    <th>女性患者</th>
                                                    <td>25</td>
                                                </tr>
                                                <tr>
                                                    <th>患者总计</th>
                                                    <td>79</td>
                                                </tr>
                                                <tr>
                                                    <th>年龄范围</th>
                                                    <td>47-88</td>
                                                </tr>
                                                <tr>
                                                    <th>年龄(Mean±SD)</th>
                                                    <td>74.8</td>
                                                </tr>
                                                </tbody>
                                            </table>

                                            <table class="table table-bordered table-sm fs-sm" id="document-intervention-1">
                                                <caption><h6>干预措施-碳离子放疗</h6></caption>
                                                <colgroup>
                                                    <col width="200" class="bg-gray" />
                                                    <col />
                                                </colgroup>
                                                <tbody>
                                                <tr>
                                                    <th>干预措施</th>
                                                    <td>碳离子放疗</td>
                                                </tr>
                                                <tr>
                                                    <th>伴随治疗</th>
                                                    <td>None,无</td>
                                                </tr>
                                                <tr>
                                                    <th>粒子治疗单次剂量（GyE）</th>
                                                    <td>13.2/15</td>
                                                </tr>
                                                <tr>
                                                    <th>分割次数</th>
                                                    <td>4</td>
                                                </tr>
                                                <tr>
                                                    <th>总剂量（GyE）</th>
                                                    <td>52.8/6088</td>
                                                </tr>
                                                <tr>
                                                    <th>BED</th>
                                                    <td>122.6/150</td>
                                                </tr>
                                                </tbody>
                                            </table>
                                            <table class="table table-bordered table-sm fs-sm" id="document-intervention-2">
                                                <caption><h6>干预措施-碳离子放疗</h6></caption>
                                                <colgroup>
                                                    <col width="200" class="bg-gray" />
                                                    <col />
                                                </colgroup>
                                                <tbody>
                                                <tr>
                                                    <th>干预措施</th>
                                                    <td>碳离子放疗</td>
                                                </tr>
                                                <tr>
                                                    <th>伴随治疗</th>
                                                    <td>None,无</td>
                                                </tr>
                                                <tr>
                                                    <th>粒子治疗单次剂量（GyE）</th>
                                                    <td>13.2/15</td>
                                                </tr>
                                                <tr>
                                                    <th>分割次数</th>
                                                    <td>4</td>
                                                </tr>
                                                <tr>
                                                    <th>总剂量（GyE）</th>
                                                    <td>52.8/6088</td>
                                                </tr>
                                                <tr>
                                                    <th>BED</th>
                                                    <td>122.6/150</td>
                                                </tr>
                                                </tbody>
                                            </table>

                                            <table class="table table-bordered table-sm fs-sm" id="result-efficacyIndicatorVar">
                                                <caption><h6>有效性评价指标声明</h6></caption>
                                                <colgroup>
                                                    <col width="200" class="bg-gray" />
                                                    <col />
                                                </colgroup>
                                                <tbody>
                                                <tr>
                                                    <th>近期疾病客观缓解率</th>
                                                    <td></td>
                                                </tr>
                                                <tr>
                                                    <th>无进展生存期（PFS）</th>
                                                    <td></td>
                                                </tr>
                                                <tr>
                                                    <th>总生存期（OS）</th>
                                                    <td></td>
                                                </tr>
                                                <tr>
                                                    <th>无病生存率（DFS）</th>
                                                    <td>5-yr DFS</td>
                                                </tr>
                                                <tr>
                                                    <th>局部区域控制率（LC）</th>
                                                    <td>5-yr LC</td>
                                                </tr>
                                                <tr>
                                                    <th>肿瘤特异性生存率（CSS）</th>
                                                    <td>5-yr CSS</td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </article>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <aside class="col-lg-3 sidebar mt-11 mt-lg-6">
                    <div class="widget sticky-top pt-15 zindex-1">
                        <nav id="navbar-menu" class="h-100 flex-column align-items-stretch pe-4 fs-sm">
                            <nav class="nav nav-pills flex-column">
                                <a class="nav-link" href="#document">文献信息</a>
                                <nav class="nav nav-pills flex-column">
                                    <a class="nav-link ms-3 my-1" href="#document-basic">基本信息</a>
                                    <a class="nav-link ms-3 my-1" href="#document-patients">参与者</a>
                                    <a class="nav-link ms-3 my-1" href="#document-group-1">分组-1</a>
                                    <nav class="nav nav-pills flex-column">
                                        <a class="nav-link ms-6 my-1" href="#document-intervention-1">干预措施1</a>
                                        <a class="nav-link ms-6 my-1" href="#document-intervention-2">干预措施2</a>
                                    </nav>
                                    <a class="nav-link ms-3 my-1" href="#document-group-2">分组-2</a>
                                </nav>
                                <a class="nav-link" href="#item-2">结局指标</a>
                                <nav class="nav nav-pills flex-column">
                                    <a class="nav-link ms-3 my-1" href="#result-efficacyIndicatorVar">有效性评价指标声明</a>
                                    <a class="nav-link ms-3 my-1" href="#item-2-2">安全性评价指标声明</a>
                                </nav>
                                <a class="nav-link" href="#item-3">质量评价</a>
                                <nav class="nav nav-pills flex-column">
                                    <a class="nav-link ms-3 my-1" href="#item-3-1">CONCORT清单</a>
                                    <a class="nav-link ms-3 my-1" href="#item-3-2">STROBE声明</a>
                                </nav>
                            </nav>
                        </nav>
                    </div>
                </aside>
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>
</th:block>
</body>
</html>
