<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>meta分析</title>
    <link rel="shortcut icon" th:href="@{/img/favicon.png}" />
    <link rel="stylesheet" th:href="@{/css/plugins.css}" />
    <link rel="stylesheet" th:href="@{/css/style.css}" />
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.22.1/dist/bootstrap-table.min.css">
    <script src="https://unpkg.com/bootstrap-table@1.22.1/dist/bootstrap-table.min.js"></script>
</head>

<body>
<div class="content-wrapper">
      <!-- /section -->
      <section class="wrapper bg-light">
        <div class="container py-10 py-md-10">
          <div class="row">
            <div class="col-lg-12">
              <section class="wrapper pb-8">
                <div class="card">
                  <div class="card-body  overflow-auto">
                      <form class="">
                          <div class="mb-4">
                              <label>数据集</label>
                              <textarea id="dataset" class="form-control form-control-sm" rows="8" placeholder="数据集">
study	year	n.e	mean.e	sd.e	n.c	mean.c	sd.c
杨晓黎	1998	45	-0.54	1.0739	30	-0.55	0.9263
马建英	1998	40	-2.7	0.656	20	-0.9	0.5556
任汉阳	2000	56	-1.45	0.8682	20	-0.99	2.2565
                    </textarea>
                          </div>
                      </form>
                  </div>
                </div>
                <!--/.card -->
              </section>

              <div class="blog classic-view">
                  <article class="post" id="forest">
                  </article>

                  <article class="post" id="boxplot">
                  </article>

                  <article class="post" id="funnel">
                  </article>

                  <article class="post" id="drapery"></article>

              </div>

              <!-- /nav -->
            </div>
            <!-- /column -->
          </div>
          <!-- /.row -->
        </div>
        <!-- /.container -->
      </section>
</div>
<div class="container-fluid bg-white border-top fixed-bottom">
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3">
        <ul class="nav col-12 justify-content-center list-unstyled gap-4 d-flex">
            <li>
                <button type="button" class="btn btn-soft-primary" data-bs-toggle="tooltip" data-bs-placement="top" title="Tooltip on top">
                    导出结果
                </button>
            </li>
            <li >
                <button type="button" class="btn btn-primary" data-bs-toggle="tooltip" data-bs-placement="top" title="Tooltip on top">
                    创建Meta分析报告
                </button>
            </li>
        </ul>
    </footer>
</div>
<script th:src="@{/js/plugins.js}"></script>
<script th:src="@{/js/theme.js}"></script>
<script th:src="@{/js/meta_analysis.js}"></script>
<script>
    $(function(){

        new MetaAnalysis('#forest', { type: "forest" })

        new MetaAnalysis('#boxplot', { type: "boxplot" })

        new MetaAnalysis("#funnel", { type: "funnel"})

        new MetaAnalysis("#drapery", { type: "drapery"})
    })
</script>
</body>

</html>

