<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>meta分析</title>
    <link rel="shortcut icon" th:href="@{/img/favicon.png}" />
    <link rel="stylesheet" th:href="@{/css/plugins.css}" />
    <link rel="stylesheet" th:href="@{/css/style.css}" />
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.22.1/dist/bootstrap-table.min.css">
    <script src="https://unpkg.com/bootstrap-table@1.22.1/dist/bootstrap-table.min.js"></script>
</head>

<body>
<div class="content-wrapper">
      <!-- /section -->
      <section class="wrapper bg-light">
        <div class="container py-10 py-md-10">
          <div class="row">
            <div class="col-lg-12">
              <section class="wrapper pb-8">
                <div class="card">
                  <div class="card-body  overflow-auto">
                      <form class="">
                          <div class="mb-4">
                              <label>数据集</label>
                              <textarea id="dataset" class="form-control form-control-sm" rows="8" placeholder="数据集">
study	year	n.e	mean.e	sd.e	n.c	mean.c	sd.c
杨晓黎	1998	45	-0.54	1.0739	30	-0.55	0.9263
马建英	1998	40	-2.7	0.656	20	-0.9	0.5556
任汉阳	2000	56	-1.45	0.8682	20	-0.99	2.2565
                    </textarea>
                          </div>
                          <div class="form-floating mb-4 input-group">
                              <input id="imgHeight" type="text" class="form-control form-control-sm" placeholder="高度" value="300">
                              <label for="imgHeight">高度</label>
                              <span class="input-group-text">px</span>
                          </div>
                          <div class="form-floating mb-4 input-group">
                              <input id="imgWidht" type="text" class="form-control form-control-sm" placeholder="宽度" value="900">
                              <label for="imgWidht">宽度</label>
                              <span class="input-group-text">px</span>
                          </div>
                          <div class="form-select-wrapper mb-4">
                              <div class="form-check">
                                  <label class="form-check-label" >
                                      <input class="form-check-input" type="checkbox" value="Forest">
                                      Forest plot 森林图 </label>
                              </div>
                              <div class="form-check">
                                  <label class="form-check-label" >
                                      <input class="form-check-input" type="checkbox" value="funnle">
                                      Funnel plot 漏斗图 </label>
                              </div>
                              <div class="form-check">
                                  <label class="form-check-label" >
                                      <input class="form-check-input" type="checkbox" value="Boxplot">
                                      Boxplot 箱形图 </label>
                              </div>
                              <div class="form-check">
                                  <label class="form-check-label" >
                                      <input class="form-check-input" type="checkbox" value="Drapery">
                                      Drapery plot </label>
                              </div>
                          </div>
                          <div class="d-grid gap-2">
                              <button type="submit" class="btn btn-sm btn-primary"><i class="uil uil-play"></i>&nbsp;&nbsp; 生成</button>
                          </div>
                      </form>
                  </div>
                  <!--/.card-body -->
                  <div class="card-footer position-relative py-8">
                    <div class="progress-list">
                      <p>正在生成: </p>
                      <div class="progressbar line blue" data-value="100"></div>
                    </div>
                  </div>
                  <!--/.card-footer -->

                </div>
                <!--/.card -->
              </section>

              <div class="blog classic-view">
                  <article class="post">
                  <div class="card">
                    <figure class="card-img-top overlay overlay-1 hover-scale">
                      <img th:src="@{/img/meta/Forest.png}" alt="Forest plot of fixed model"
                      />
                      <figcaption>
                        <h5 class="from-top mb-0">Read More</h5>
                      </figcaption>
                    </figure>
                    <div class="card-footer">
                      <ul class="post-meta d-flex mb-0">
                          <li class="post-comments"><span>森林图</span></li>
                            <li class="post-date">
                            <a href="jvascript:void(0)"><i class="uil uil-download-alt"></i> 下载</a>
                            </li>
                          <li class="post-comments"><a href="#"><i class="uil uil-image-edit"></i><span> 修改尺寸: 500px * 250px</span></a></li>
                      </ul>
                      <!-- /.post-meta -->
                    </div>
                    <!-- /.card-footer -->
                  </div>
                  <!-- /.card -->
                </article>

                  <article class="post">
                      <div class="card">
                          <figure class="card-img-top overlay overlay-1 hover-scale">
                              <img th:src="@{/img/meta/Funnel.png}" alt="Forest plot of fixed model"
                              />
                              <figcaption>
                                  <h5 class="from-top mb-0">Read More</h5>
                              </figcaption>
                          </figure>
                          <div class="card-footer">
                              <ul class="post-meta d-flex mb-0">
                                  <li class="post-comments"><span>漏斗图</span></li>
                                  <li class="post-date">
                                      <a href="jvascript:void(0)"><i class="uil uil-download-alt"></i> 下载</a>
                                  </li>
                                  <li class="post-comments"><a href="#"><i class="uil uil-image-edit"></i><span> 修改尺寸: 500px * 250px</span></a></li>
                              </ul>
                              <!-- /.post-meta -->
                          </div>
                          <!-- /.card-footer -->
                      </div>
                      <!-- /.card -->
                  </article>

                  <article class="post">
                      <div class="card">
                          <figure class="card-img-top overlay overlay-1 hover-scale">
                              <img th:src="@{/img/meta/Drapery.png}" alt="Forest plot of fixed model"
                              />
                              <figcaption>
                                  <h5 class="from-top mb-0">Read More</h5>
                              </figcaption>
                          </figure>
                          <div class="card-footer">
                              <ul class="post-meta d-flex mb-0">
                                  <li class="post-comments"><span>漏斗图</span></li>
                                  <li class="post-date">
                                      <a href="jvascript:void(0)"><i class="uil uil-download-alt"></i> 下载</a>
                                  </li>
                                  <li class="post-comments"><a href="#"><i class="uil uil-image-edit"></i><span> 修改尺寸: 500px * 250px</span></a></li>
                              </ul>
                              <!-- /.post-meta -->
                          </div>
                          <!-- /.card-footer -->
                      </div>
                      <!-- /.card -->
                  </article>
              </div>

              <!-- /.blog -->
              <nav class="d-flex gap-2" aria-label="pagination">
                  <button type="button" class="btn btn-soft-primary rounded-pill" data-bs-toggle="tooltip" data-bs-placement="top" title="Tooltip on top">
                      导出为PDF
                  </button>
                  <button type="button" class="btn btn-soft-green rounded-pill" data-bs-toggle="tooltip" data-bs-placement="top" title="Tooltip on top">
                      创建Meta分析报告
                  </button>
              </nav>
              <!-- /nav -->
            </div>
            <!-- /column -->
          </div>
          <!-- /.row -->
        </div>
        <!-- /.container -->
      </section>
</div>
<div class="progress-wrap">
    <svg
            class="progress-circle svg-content"
            width="100%"
            height="100%"
            viewBox="-1 -1 102 102"
    >
        <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" />
    </svg>
</div>
<script th:src="@{/js/plugins.js}"></script>
<script th:src="@{/js/theme.js}"></script>
</body>

</html>

